main {
  max-width: 500px;
  padding: 0 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.MuiBackdrop-root {
  background-color: #36474f !important;
}

.MuiTypography-body1 > ul {
  margin-top: 2em;
  padding-bottom: 2em;
  padding-left: 0;
}

.MuiTypography-body1 > ul > li {
  text-align: left !important;
  line-height: 1.5em !important;
  margin-bottom: 1.2em !important;
}

.MuiTypography-body1 {
  white-space: normal !important;
  letter-spacing: 0.1em !important;
  margin: 0 !important;
}

.MuiTypography-body1 > h5 {
  margin: 0;
  line-height: 1.3em;
}

.MuiTypography-body1 > p {
  margin-top: 2em;
  line-height: 1.8em;
  text-align: left;
  padding-bottom: 2em;
}

.AutoRotatingCarousel-footer-12 {
  display: none;
}

.AutoRotatingCarousel-carouselWrapper-8 {
  background: #263238 !important;
}
